.form-signin
  max-width 330px;
  padding 15px;
  margin 0 auto
nav
  padding 10px
main
  margin 70px

#email_body
  width 1024px
  #email_header
    .logo
      margin 20px
      height 100px
      width 190
      background-image url("../img/logos/logo.png")
      background-repeat no-repeat
    .info_cotizacion
      margin 10px
      h6, h4
        margin 5px
        padding 0
  footer
    text-align center