.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
nav {
  padding: 10px;
}
main {
  margin: 70px;
}
.detalles_cuadro_detalle {
  padding: 0.333333333333333em;
}
.detalles_cuadro_detalle .label {
  color: #df7755;
  font-size: 1em;
}
.detalles_cuadro_detalle thead {
  background-color: #df7755;
  color: #fff;
}
.odeco_titulo_principal {
  font-size: 2em;
  color: #df5e00;
}
.odeco_titulo_2 {
  font-size: 1.5em;
  color: #df5e00;
}
.fa-exclamation-triangle {
  color: #f00;
}
.fa-check-circle {
  color: #008000;
}
