$Color_Odeco_1 = #df5e00
$Color_Odeco_2 = #df7755

.form-signin
  max-width 330px;
  padding 15px;
  margin 0 auto
nav
  padding 10px
main
  margin 70px

.detalles_cuadro_detalle
  padding (1/3)em
  .label
    color $Color_Odeco_2
    font-size 1em
  thead
    background-color $Color_Odeco_2
    color white

.odeco_titulo_principal
  font-size 2em
  color $Color_Odeco_1

.odeco_titulo_2
  font-size (3/2)em
  color $Color_Odeco_1
