.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
nav {
  padding: 10px;
}
main {
  margin: 20px;
}
.intranet h1 {
  color: #df5e00;
  font-size: 2.1em;
}
.intranet h2 {
  color: #df5e00;
  font-size: 1.8em;
}
.intranet h3 {
  color: #df5e00;
  font-size: 1.5em;
}
.intranet h4 {
  color: #df5e00;
  font-size: 1.3em;
}
.intranet h5 {
  color: #df5e00;
  font-size: 1.1em;
}
.intranet h6 {
  color: #000;
  font-size: 0.9em;
}
.intranet p {
  color: #000;
}
.intranet .label {
  color: #df7755;
  font-size: 1.2em;
}
.intranet thead {
  color: #fff;
  background-color: #df7755;
}
.intranet .borde_div {
  border-style: solid;
  border-width: thin;
  border-color: #808080;
  padding: 1em;
}
.intranet .div_detalle {
  padding-left: 1em;
}
.fa-times-circle {
  color: #f00;
}
.fa-exclamation-triangle {
  color: #f00;
}
.fa-check-circle {
  color: #008000;
}
.thumbnail {
  padding: 0px;
}
.panel {
  position: relative;
}
.panel > .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px;
}
.panel > .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}
.panel > .panel-heading:after,
.panel > .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}
.cotizacion_seleccionada_sombra {
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
  font-size: 20px;
}
