.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
nav {
  padding: 10px;
}
main {
  margin: 70px;
}
#email_body {
  padding: 20px;
}
#email_body #email_header .logo {
  margin: 20px;
  height: 100px;
  width: 190;
  background-image: url("../img/logos/logo.png");
  background-repeat: no-repeat;
}
#email_body #email_header .info_cotizacion {
  margin: 10px;
}
#email_body #email_header .info_cotizacion h6,
#email_body #email_header .info_cotizacion h4 {
  margin: 5px;
  padding: 0;
}
#email_body #email_coti_condiciones_comerciales {
  background-color: #f0f8ff;
  padding: 20px;
}
#email_body #email_coti_condiciones_comerciales h5,
#email_body #email_coti_condiciones_comerciales h4 {
  margin: 5px;
  padding: 0;
}
#email_body footer {
  text-align: center;
}
