{% extends 'base.html' %}
{% block content %}
    {% if perms.trabajo_diario.ver_trabajo_diario %}
        <h1>Trabajo del Día
            <small>{{ porcentaje_tareas_atendidas|floatformat:1 }}% realizado</small>
        </h1>
        Estas son tus tareas para el día de hoy
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {% if seguimiento_cartera.all %}
                        <div class="col-md-6">
                            {% include 'trabajo_diario/components/tabla_tareas.html' with lista_tareas=seguimiento_cartera.all tipo="Seguimiento Cartera" %}
                        </div>
                    {% endif %}

                    {% if seguimiento_cotizacion.all %}
                        <div class="col-md-6">
                            {% include 'trabajo_diario/components/tabla_tareas.html' with lista_tareas=seguimiento_cotizacion.all tipo="Seguimiento Cotizaciones" %}
                        </div>
                    {% endif %}

                    {% if seguimiento_tarea.all %}
                        <div class="col-md-6">
                            {% include 'trabajo_diario/components/tabla_tareas.html' with lista_tareas=seguimiento_tarea.all tipo="Seguimiento Tareas" %}
                        </div>
                    {% endif %}
                    {% if seguimiento_remision.all %}
                        <div class="col-md-6">
                            {% include 'trabajo_diario/components/tabla_tareas.html' with lista_tareas=seguimiento_remision.all tipo="Seguimiento Remisiones" %}
                        </div>
                    {% endif %}
                    {% if seguimiento_envio.all %}
                        <div class="col-md-6">
                            {% include 'trabajo_diario/components/tabla_tareas.html' with lista_tareas=seguimiento_envio.all tipo="Seguimiento Envío TCC" %}
                        </div>
                    {% endif %}

                    {% if trabajo_diario_subalternos %}
                        <div class="col-xs-12">
                            <h2>Trabajo Diario Colaboradores</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        Colaborador
                                    </th>
                                    <th>
                                        Nro Tareas
                                    </th>
                                    <th>
                                        Nro Tareas sin Atender
                                    </th>
                                    <th>
                                        Nro Tareas Atendidas
                                    </th>
                                    <th>
                                        Porcentaje Atendido
                                    </th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for subalterno in trabajo_diario_subalternos.all %}
                                    <tr>
                                        <td>
                                            {{ subalterno.usuario.get_full_name }}
                                        </td>
                                        <td>
                                            {{ subalterno.nro_tareas }}
                                        </td>
                                        <td>
                                            {{ subalterno.nro_tareas_sin_atender }}
                                        </td>
                                        <td>
                                            {{ subalterno.nro_tareas_atendidas }}
                                        </td>
                                        <td>
                                            {{ subalterno.porcentaje_atendido }}
                                        </td>
                                        <td>
                                            <a href="{{ subalterno.get_absolute_url }}">Ver</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                {% for indicador in indicadores_venta %}
                    {% include 'indicadores/indicadores_barra.html' with indicadores=indicador %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}