{% extends 'base.html' %}
{% block content %}
    {% if monedas_lista and perms.importaciones.ver_tasas_actuales %}
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Tasas de Cambio Actuales</div>
                    <div class="panel-body">
                        <ul>
                            {% for moneda in monedas_lista %}
                                <li>
                                    {{ moneda.nombre }} - {{ moneda.cambio|floatformat }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if perms.trabajo_diario.ver_trabajo_diario %}
        <div class="col-md-12">
            {% include 'trabajo_diario/panel_inicio/tareas_trabajo_diario_lista.html' %}
        </div>
        <div class="col-md-12">
            {% include 'trabajo_diario/panel_inicio/cotizaciones_asignaciones.html' %}
        </div>
    {% endif %}
{% endblock %}