{% extends 'base.html' %}
{% block content %}
    {% if perms.trabajo_diario.ver_trabajo_diario %}
        <h1>Trabajo del Día
            <small>{{ porcentaje_tareas_atendidas|floatformat:1 }}% realizado</small>
        </h1>
        Estas son tus tareas para el día de hoy
        {% if envios_tcc.all %}
            <div class="col-md-6">
                {% include 'trabajo_diario/components/tabla_seguimiento_envios_TCC.html' with envios_pendientes=envios_tcc.all %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                {% for indicador in indicadores_venta %}
                    {% include 'indicadores/indicadores_barra.html' with indicadores=indicador %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}