container_commands:
  apache_reload:
    command: |
      echo "WSGIApplicationGroup %{GLOBAL}" >> /etc/httpd/conf.d/wsgi.conf
      /etc/init.d/httpd reload

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: odeco.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: odeco/wsgi.py
