commands:
  repo0:
    command: sudo yum reinstall yum --noplugins

packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
    gcc-c++: []

commands:
  repo1:
    command: yum-config-manager --add-repo https://apt-mo.trafficmanager.net/yumrepos/mssql-rhel7-release/
  repo2:
    command: yum-config-manager --enable mssql-rhel7-preview
  repo3:
    command: wget "http://aka.ms/msodbcrhelpublickey/dpgswdist.v1.asc"
  repo4:
    command: rpm --import dpgswdist.v1.asc
  repo5:
    command: yum remove unixODBC-2.2.14-14.7.amzn1.x86_64
  repo6:
    command: yum update
  repo7:
    command: yum install msodbcsql
  repo8:
    command: yum install unixODBC-utf16-devel
