{% load l10n %}
<h2>{{ tipo }}</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Estado
        </th>
        <th>
            Descripción
        </th>
    </tr>

    </thead>
    <tbody>
    {% for tarea in lista_tareas %}
        <tr>
            <td>
                {% if tarea.estado == 0 %}
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'trabajo_diario:tarea-update' pk=tarea.id %}">{{ tarea.descripcion }}</a>
            </td>
            {% if tarea.url %}
                <td>
                    <a href="{{ tarea.url }}" target="_blank">Ver</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>