{% if lista_tareas.all %}
    <h2>{{ tipo }}</h2>
    <ul>
        {% for tarea in lista_tareas.all %}
            <li>
                {% if tarea.estado == 0 %}
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                {% endif %} <span style="color: blue">{{ tarea.descripcion }}</span>
                {% for seguimiento in tarea.seguimientos.all|slice:":3" %}
                    <ul>
                        <li>
                            <i class="fa fa-comments" aria-hidden="true"></i> {{ seguimiento.observacion }} -
                            <small> {{ seguimiento.created }}</small>
                        </li>
                    </ul>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}