{% extends 'base.html' %}
{% block content %}
    <div class="detalles_cuadro_detalle">
        <span class="odeco_titulo_principal">{{ object.descripcion_estandar }}</span>
        <hr/>
        <div>
            <span class="odeco_titulo_2">Información General</span>
        </div>
        <div class="row detalles_cuadro_detalle">
            <div class="col-sm-6"><span class="label">Descripción Comercial: </span>{{ object.descripcion_comercial }}
            </div>
            <div class="col-sm-6"><span class="label">Referencia: </span>{{ object.referencia }}</div>
            <div class="col-sm-6"><span class="label">Serie: </span>{{ object.serie }}</div>
            <div class="col-sm-6"><span class="label">Tipo: </span>{{ object.tipo }}</div>
            <div class="col-sm-6"><span class="label">Material: </span>{{ object.material }}</div>
            <div class="col-sm-6"><span class="label">Color: </span>{{ object.color }}</div>
            <div class="col-sm-6"><span class="label">Ancho: </span>{{ object.ancho }} mm</div>
            <div class="col-sm-6"><span class="label">Longitud: </span>{{ object.longitud }} mm</div>
            <div class="col-sm-6"><span class="label">Varilla: </span>{{ object.material_varilla }}</div>
            <div class="col-sm-6"><span class="label">Total Filas: </span>{{ object.total_filas }}</div>

        </div>
        {% if object.con_empujador %}
            <hr/>
            <div>
                <span class="odeco_titulo_2">Empujador</span>
            </div>
            <div class="row detalles_cuadro_detalle">
                <div class="col-sm-6"><span class="label">Tipo: </span>{{ object.empujador_tipo }}</div>
                <div class="col-sm-6"><span class="label">Altura: </span>{{ object.empujador_altura }} mm</div>
                <div class="col-sm-6"><span class="label">Ancho: </span>{{ object.empujador_ancho }} mm</div>
                <div class="col-sm-6"><span class="label">Distanciamiento: </span>{{ object.empujador_distanciado }} mm
                </div>
                <div class="col-sm-6"><span class="label">Identacion: </span>{{ object.empujador_identacion }}</div>
                <div class="col-sm-6"><span
                        class="label">Filas entre Empujador: </span>{{ object.empujador_filas_entre }}</div>

            </div>
        {% endif %}

        {% if object.con_aleta %}
            <hr/>
            <div>
                <span class="odeco_titulo_2">Aleta</span>
            </div>
            <div class="row detalles_cuadro_detalle">
                <div class="col-sm-6"><span class="label">Aleta: </span>{{ object.aleta }}</div>
                <div class="col-sm-6"><span class="label">Identacion: </span>{{ object.aleta_identacion }}</div>
            </div>
        {% endif %}

        <hr/>
        <div>
            <span class="odeco_titulo_2">Componentes</span>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    Referencia
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Ancho (mm)
                </th>
                <th>
                    Cortado a
                </th>
                <th>
                    Cant.
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Precio Unitario
                </th>
                <th>
                    Total
                </th>
            </tr>
            </thead>
            <tbody>
            {% for ensamblado in object.ensamblado.all %}
                <tr>
                    <td>
                        {{ ensamblado.producto.referencia }}
                    </td>
                    <td>
                        {{ ensamblado.producto.descripcion_comercial }}
                    </td>
                    <td>
                        {{ ensamblado.ancho }}
                    </td>
                    <td>
                        {{ ensamblado.cortado_a }}
                    </td>
                    <td>
                        {{ ensamblado.cantidad }}
                    </td>
                    <td>
                        {{ ensamblado.producto.margen.categoria }}
                    </td>
                    <td>
                        {{ ensamblado.producto.precio_base }}
                    </td>
                    <td>
                        {{ ensamblado.precio_linea }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"> Total:</td>
                <td> {{ object.precio_total }} </td>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}