{% extends 'base.html' %}
{% block content %}
    <div class="detalles_cuadro_detalle">
        <span class="odeco_titulo_principal">Bandas</span>
        <hr/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Referencia
                </th>
                <th>
                    Nombre
                </th>
            </tr>
            </thead>
            <tbody>
            {% for banda in object_list %}
                <tr>
                    <td>
                        <a href="{{ banda.get_absolute_url }}">
                            {{ banda.referencia }}
                        </a>
                    </td>
                    <td>
                        {{ banda.descripcion_comercial }}
                    </td>
                </tr>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}