{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Detalles Cliente
        <small>{{ object.nombre|title }} </small>
    </h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Información General</h3>
            <hr>
            <p>
                <span class="label">Nit:</span> {{ object.nit }}
            </p>
            <p>
                <span class="label">Fecha Creación:</span> {{ object.fecha_creacion }}
            </p>
            <div>
                <p>
                    <span class="label">Empresas Grupo:</span>{{ object.grupo }}
                </p>
                {% if object.grupo %}
                    <ul>
                        {% for empresa in object.grupo.mis_empresas.all %}
                            {% if empresa.nit != object.nit %}
                                <li>
                                    <a href="{{ empresa.get_absolute_url }}">{{ empresa.nombre }}
                                        - {{ empresa.nit }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% with cotizaciones_list=object.mis_cotizaciones.all %}
                {% if cotizaciones_list %}
                    <h3>Mis Cotizaciones</h3>
                    <hr>
                    <ul>
                        {% for cotizacion in cotizaciones_list %}
                            <li>
                                <a href="{{ cotizacion.get_absolute_url }}"> {{ cotizacion }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% with compras_list=object.mis_compras.all %}
                {% if compras_list %}
                    <h3>Mis Compras</h3>
                    <hr>
                    <ul>
                        {% for compra in compras_list %}
                            <li>
                                <a href="{{ compra.get_absolute_url }}"> {{ compra }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}