{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Detalles Factura {{ object.tipo_documento }}-{{ object.nro_documento }} </h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Información Factura</h3>
            <hr>
            <p>
                <span class="label">Cliente:</span> {{ object.cliente|title }}
            </p>
            <p>
                <span class="label">Vendedor:</span> {{ object.vendedor.nombre|title }}
            </p>
            <p>
                <span class="label">Facturación Bruta:</span> {{ object.venta_bruta|floatformat:2 }}
            </p>
            <p>
                <span class="label">Descuentos Netos:</span> {{ object.dscto_netos|floatformat:2 }}
            </p>
            <p>
                <span class="label">Costo Total:</span> {{ object.costo_total|floatformat:2 }}
            </p>
            <p>
                <span class="label">Rentabilidad:</span> {{ object.rentabilidad|floatformat:2 }}
            </p>
            <p>
                <span class="label">Impuesto Netos:</span> {{ object.imp_netos|floatformat:2 }}
            </p>
            <p>
                <span class="label">Valor Neto:</span> {{ object.venta_neto|floatformat:2 }}
            </p>
        </div>
    </div>


    <h2>Items Relacionados</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                ID cguno
            </th>
            <th>
                Referencia
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Venta Bruta
            </th>
            <th>
                Descuentos Netos
            </th>
            <th>
                Impuestos Netos
            </th>
            <th>
                Venta Neta
            </th>
            {% if perms.biable.ver_info_admon_ventas %}
                <th>
                    Costo Total
                </th>
                <th>
                    Rentabilidad
                </th>
            {% endif %}
        </tr>

        </thead>
        <tbody>
        {% for item in object.mis_movimientos_venta.all %}
            <tr>
                <td>
                    {{ item.item_biable.id_item }}
                </td>
                <td>
                    {{ item.item_biable.id_referencia }}
                </td>
                <td>
                    {{ item.item_biable.descripcion }}
                </td>
                <td>
                    {{ item.precio_uni|floatformat:2 }}
                </td>
                <td>
                    {{ item.cantidad|floatformat }}
                </td>
                <td>
                    {{ item.venta_bruta|floatformat:2 }}
                </td>
                <td>
                    {{ item.dscto_netos|floatformat:2 }}
                </td>
                <td>
                    {{ item.imp_netos|floatformat:2 }}
                </td>
                <td>
                    {{ item.venta_neto|floatformat:2 }}
                </td>
                {% if perms.biable.ver_info_admon_ventas %}
                    <td>
                        {{ item.costo_total|floatformat:2 }}
                    </td>
                    <td>
                        {{ item.rentabilidad|floatformat:2 }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}