{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% block title %}
            Odecopack
        {% endblock %}
    </title>

    <!-- css -->
    {% include 'css.html' %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%">
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" src="{% static "www/img/logos/logo.png" %}" alt="logo"/>
                </a>
                <p class="navbar-text navbar-right">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    <a href="{% url 'auth_logout' %}?next=/" class="navbar-link">
                        (Salir)
                    </a>
                </p>

            </div>
        </div>
    </nav>
    <main>
        {% block content %}
            Esta es una prueba
        {% endblock %}
    </main>
{% endif %}
<div>
    {% block login %}

    {% endblock %}
</div>
{% include 'javascript.html' %}
<script>
    $(document).ready(function () {
        {% block script %}

        {% endblock %}
    });
</script>
</body>
</html>