{% load funciones_especiales %}
{% load crispy_forms_tags %}
<h3>Lista de Precios</h3>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% crispy busqueda_producto_form %}
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Referencia</td>
                    <td>Descripción</td>
                    <td>Cant. Emp.</td>
                    <td>Uni. Med.</td>
                    <td>Precio</td>
                    <td>Origen</td>
                </tr>
                </thead>
                <tbody>
                {% for pro in object_list_componentes %}
                    {% obtener_precio_lp pro.get_precio_base formas_pago_porcentaje as precio %}
                    <tr>
                        <td>{{ pro.referencia }} </td>
                        <td>{{ pro.descripcion_comercial|title }} </td>
                        <td>{{ pro.cantidad_empaque }} </td>
                        <td>{{ pro.unidad_medida.nombre|title }} </td>
                        <td> {{ precio }} </td>
                        <td> LISTA PRECIOS CB </td>
                        {% if cotizacion_actual %}
                            <td>
                                <a href="{% url 'cotizaciones:add_item_cotizacion' item_id=pro.id precio=precio forma_pago=forma_de_pago cot_id=cotizacion_actual.id tipo=1 %}">
                                    +
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for pro in object_list_articulos_catalogo %}
                    {% obtener_precio_lp pro.get_precio_base formas_pago_porcentaje as precio %}
                    <tr>
                        <td>{{ pro.referencia }} </td>
                        <td>{{ pro.nombre|title }} </td>
                        <td></td>
                        <td>{{ pro.unidad_medida|title }} </td>
                        <td> {{ precio }} </td>
                        <td> {% if pro.origen == 'LP_INTRANET' %} LISTA PRECIOS CA {% else %} CGUNO {{ pro.origen }} {% endif %}</td>
                        {% if cotizacion_actual %}
                            <td>
                                <a href="{% url 'cotizaciones:add_item_cotizacion' item_id=pro.id precio=precio forma_pago=forma_de_pago cot_id=cotizacion_actual.id tipo=2 %}">
                                    +
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for banda in object_list_bandas %}
                    {% obtener_precio_lp banda.get_precio_con_mano_obra formas_pago_porcentaje as precio %}
                    <tr>
                        <td>{{ banda.referencia }} </td>
                        <td>{{ banda.descripcion_comercial|title }} </td>
                        <td> {{ banda.longitud }} </td>
                        <td>Metro</td>
                        <td> {{ precio }} </td>
                        <td> LISTA PRECIOS BM </td>
                        {% if cotizacion_actual %}
                            <td>
                                <a href="{% url 'cotizaciones:add_item_cotizacion' item_id=banda.id precio=precio forma_pago=forma_de_pago cot_id=cotizacion_actual.id tipo=3 %}">
                                    +
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>