{% extends "cotizaciones/base_cotizacion.html" %}
{% load funciones_especiales %}
{% load crispy_forms_tags %}

{% block titulo_pagina %}
    Cotizacion {{ object.nro_cotizacion }}
    {% if not object.estado == 'FIN' and not object.estado == 'ELI' %}
        {% if object.en_edicion %}
            <small> En Edicion</small>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content_page %}
    {% if not object.estado == 'FIN' and not object.estado == 'ELI' %}
        <form method="post" action="{% url 'cotizaciones:enviar' pk=object.pk %}">
            {% csrf_token %}
            <small>
                <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i> Reenviar Email</button>
            </small>
        </form>

        <form method="post" action="{% url 'cotizaciones:editar_cotizacion' %}">
            {% csrf_token %}
            {% if not object.en_edicion %}
                <p>
                    <small>
                        <button name="editar" value="{{ object.pk }}" type="submit"><i class="fa fa-pencil"
                                                                                       aria-hidden="true"></i>
                            Editar
                        </button>
                    </small>
                </p>
            {% endif %}
        </form>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'cotizaciones:prueba' %}">Prueba</a>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="div_detalle">
                </h4>
                <h4>Fecha Envio:
                    <small>{{ object.fecha_envio }}</small>
                </h4>
                <h4>Estado:
                    <small>{{ object.get_estado_display }}</small>
                </h4>
                <h4>Nro Version:
                    <small>{{ object.version }}</small>
                </h4>
            </div>
            <h2>Información Cliente</h2>
            <div class="row div_detalle">
                <div class="col-xs-12 col-sm-6">
                    <h4>Razón Social:
                        <small>{{ object.razon_social }}</small>
                    </h4>
                    <h4>Nombre:
                        <small>{{ object.nombres_contacto }} {{ object.apellidos_contacto }}</small>
                    </h4>
                    <h4>Correo Electrónico:
                        <small>{{ object.email }}</small>
                    </h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Número de Contacto:
                        <small>{{ object.nro_contacto }}</small>
                    </h4>
                    <h4>Ubicación
                        <small>{{ object.pais }} - {{ object.ciudad }}</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{{ object.get_absolute_url }}">
                {% csrf_token %}
                {% if not object.estado == 'FIN' and not object.estado == 'ELI' %}
                    <input class="btn btn-primary" name="rechazar" value="Rechazar" type="submit"/>
                {% endif %}
                {% if object.estado == 'ENV' %}
                    <input class="btn btn-primary" name="recibida" value="Recibida" type="submit"/>
                {% endif %}
                {% if object.estado == 'REC' %}
                    <input class="btn btn-primary" name="aceptada" value="Aceptada" type="submit"/>
                {% endif %}
                {% if object.estado == 'PRO' %}
                    <input class="btn btn-primary" name="completada" value="Completada" type="submit"/>
                {% endif %}
            </form>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Rentable
                </th>
                <th>
                    Referencia
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Cant.
                </th>
                <th>
                    Uni. Emp
                </th>
                <th>
                    Pre. Uni.
                </th>
                <th>
                    Total
                </th>
                <th>
                    Forma de Pago
                </th>
                {% if perms.cotizaciones.full_cotizacion %}
                    <th>
                        Costo Base
                    </th>
                    <th>
                        Costo Total
                    </th>
                    <th>
                        Rent.
                    </th>
                    <th>
                        Mrg Rent.
                    </th>
                {% endif %}
                <th>
                    Tiem. Entrega
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in object.items.all %}
                <tr>
                    <td>
                        {% if item.get_margen_rentabilidad_actual < 0 %}
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td>
                        {{ item.get_referencia_item }}
                    </td>
                    <td>
                        {{ item.get_nombre_item }}
                    </td>
                    <td>
                        {{ item.cantidad|floatformat:2 }}
                    </td>
                    <td>
                        {{ item.get_unidad_item }}
                    </td>
                    <td>
                        {{ item.precio }}
                    </td>
                    <td>
                        {{ item.total }}
                    </td>
                    <td>
                        {{ item.forma_pago }}
                    </td>
                    {% if perms.cotizaciones.full_cotizacion %}
                        <td>
                            {{ item.get_costo_cop_actual_unidad }}
                        </td>
                        <td>
                            {{ item.get_costo_cop_actual_total }}
                        </td>
                        <td>
                            {{ item.get_rentabilidad_actual_total }}
                        </td>
                        <td>
                            {{ item.get_margen_rentabilidad_actual }} %
                        </td>
                    {% endif %}
                    <th>
                        {{ item.get_tiempo_entrega_prometido }}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="clear"></td>
                <td colspan="5"> Total:</td>
                <td> {{ object.total }} </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="row">
        {% if object.mis_comentarios.all %}
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>
                        Comentarios<span class="badge">{{ object.mis_comentarios.count }}</span>
                    </h1>
                </div>


                {% for comentario in object.mis_comentarios.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ object.usuario.get_full_name }}</strong> <span
                                class="text-muted">{{ comentario.created|timesince }}</span>
                        </div>
                        <div class="panel-body">
                            {{ comentario.comentario }}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                {% endfor %}

            </div>
        {% endif %}
        {% crispy comentario_form %}
        {% if object.estado == 'PRO' %}
            <div class="col-md-6">
                <h2>Remisiones</h2>
                <hr/>
                {% crispy remisiones helper_remision %}
            </div>
        {% endif %}

        {% if object.estado == 'PRO' or object.estado == 'ENV' or object.estado == 'REC' %}
            <div class="col-md-6">
                <h2>Tareas</h2>
                <hr/>
                {% crispy tareas helper_tarea %}
            </div>
        {% endif %}
    </div>
    {% if object.mis_remisiones.all %}
        <h2>Documentos Relacionados</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Remision
                </th>
                <th>
                    Nro Factura
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Vendedor
                </th>
            </tr>

            </thead>
            <tbody>
            {% for remision in object.mis_remisiones.all %}
                <tr>
                    <td>
                        {{ remision.tipo_remision }}-0{{ remision.nro_remision|title }}
                    </td>
                    <td>
                        {% if remision.factura_biable %}
                            <a href="{{ remisiones.factura_biable.get_absolute_url }}">
                                {{ remision.factura_biable.tipo_documento }}-{{ remision.factura_biable.nro_documento }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if remision.factura_biable %}
                            {{ remision.factura_biable.cliente }}
                        {% endif %}
                    </td>
                    <td>
                        {% if remision.factura_biable %}
                            {{ remision.factura_biable.vendedor }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}