{% extends 'indicadores/base_indicadores.html' %}
{% load l10n %}

{% block title %}
    Vent x Vend
{% endblock %}

{% block titulo_indicador %}
    Ventas por Vendedor
{% endblock %}
{% block indicador_contenido %}
    {{ anos_list }}
    <form method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-sx-12 col-sm-4 col-md-3">
                    <label>Mes</label>
                    <select name="mes" class="form-control" multiple="multiple">
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-sx-12 col-sm-4 col-md-3">
                    <label>Año</label>
                    <select name="ano" class="form-control">
                        {% localize off %}
                            {% for ano in anos_list %}
                                <option value="{{ ano }}">{{ ano }}</option>
                            {% endfor %}
                        {% endlocalize %}
                    </select>
                    <br>
                    <button type="submit" id="boton2" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <div class="row">
            <div class="col-xs-12 col-sm-1">
                <h3>Año:
                    <small>{{ ano_filtro }}</small>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Meses:
                    <small>{{ meses_filtro }}</small>
                </h3>
            </div>
        </div>
        <div class="text-right">
            {% if tabla_consulta %}
                {{ tabla_consulta | safe }}
            {% else %}
                No hay registros para este filtro
            {% endif %}
        </div>
    </div>
    <div id="output"></div>
{% endblock %}

<script>
    {% block script %}

        $('#boton2').click(function (e) {
            e.preventDefault()
            evento(1, 1)
        })

        function evento(item_id, mode) {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
            var data = {
                'item_id': item_id,
                {#                'sell_id': {{ object.id }},#}
                'mode': mode
            };
            $.post(".", data, function (data) {
                var utils = $.pivotUtilities;
                var heatmap = utils.renderers["Heatmap"];
                var sumOverSum = utils.aggregators["Sum over Sum"];


                $("#output").pivotUI(
                        data, {
                            rows: ["vendedor_nombre"],
                            aggregator: sumOverSum(["v_neto"]),
                            renderer: heatmap,
                            aggregatorName: "Integer Sum",
                            vals: ["v_neto",]
                        });


            });
        }




















    {% endblock %}
</script>

{% block javascrip_external_sources %}
    <script src="http://www.jbPivot.org/js/vendor/jbpivot.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/pivot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/gchart_renderers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/export_renderers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/tips_data.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.0/d3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/d3_renderers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/c3_renderers.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="http://www.jbPivot.org/css/jbpivot.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.3.0/pivot.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
{% endblock %}