{% extends 'base.html' %}
{% block content %}
    Entro al reporte

    <table>
        <thead>
        </thead>
        <tbody>
        {% for factura in facturacion %}
            <tr>
                <td>
                    {{ factura.cliente_id }}
                </td>
                <td>
                    {{ factura.fact_t }}
                </td>
                <td>
                    {{ factura.fact_t_1 }}
                </td>
                <td>
                    {{ factura.fact_t_2 }}
                </td>
                <td>
                    {{ factura.fact_t_3 }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}